# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


test1.html
test2.html
test3.html
test4.html


yes.html
yes2.html

/Frontend/src/pages/Home/Hero/HeroBackground/FloatingCards/World Economic Growth (1960 – NOW).png