.container{
    display: flex;
    align-self: center;
    margin: 20px;
    min-height: 300px;
    background: linear-gradient(135deg, #1DE9B6 0%, #1AC9A0 100%);

    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
}

.first{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}
.first h1{
    font-weight: 900;
    text-align: center;
    margin-bottom: 10px;
    font-size: 47px;
    color: #07235a;

}
.first p{
    text-align: center;
    color: #5d66b5;
    font-weight: bold;
}
.first button{
    border: none;
    background: #0a75c1;
    color: white;
    padding: 15px 32px;
    border-radius: 8px;
    font-weight: bold;
    font-size: 16px;
    transition: all 0.3s ease;

}
.first button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0,0,0,0.1);

}